name: Android CI

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: gradle/wrapper-validation-action@v1.0.4
    - name: set up JDK 1.8
      uses: actions/setup-java@v2.1.0
      with:
        java-version: 1.8
    - name: Build with Gradle
      run: ./gradlew build jacocoTestReport -x lint --stacktrace
